@-webkit-keyframes fade{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@-moz-keyframes fade{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@-o-keyframes fade{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes fade{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

/*--------------------------*/

@-webkit-keyframes imagem-slide{

	0%{
		top: -300px;
	}

	100%{
		top: 0px;
	}
}

@-moz-keyframes imagem-slide{

	0%{
		top: -300px;
	}

	100%{
		top: 0px;
	}
}

@-o-keyframes imagem-slide{

	0%{
		top: -300px;
	}

	100%{
		top: 0px;
	}
}

@keyframes imagem-slide{

	0%{
		top: -300px;
	}

	100%{
		top: 0px;
	}
}

/*---------------------------*/

@-webkit-keyframes left-slide{
	from{
		left: -2000px;
	}

	to{
		left: 0px;
	}
}

@-moz-keyframes left-slide{
	from{
		left: -2000px;
	}

	to{
		left: 0px;
	}
}

@-o-keyframes left-slide{
	from{
		left: -2000px;
	}

	to{
		left: 0px;
	}
}

@keyframes left-slide{
	from{
		left: -2000px;
	}

	to{
		left: 0px;
	}
}

/*----------------------*/

@-webkit-keyframes btn-start{
	from{
		background: var(--preto);
	}

	to{
		background: var(--color-1);
	}
}

@-moz-keyframes btn-start{
	from{
		background: var(--preto);
	}

	to{
		background: var(--color-1);
	}
}

@-o-keyframes btn-start{
	from{
		background: var(--preto);
	}

	to{
		background: var(--color-1);
	}
}

@keyframes btn-start{
	from{
		background: var(--preto);
	}

	to{
		background: var(--color-1);
	}
}

/*------------------------------*/
@-webkit-keyframes transparente{
	from{
		background: transparent;
	}

	to{
		background: var(--preto);
	}
}

@-moz-keyframes transparente{
	from{
		background: transparent;
	}

	to{
		background: var(--preto);
	}
}

@-o-keyframes transparente{
	from{
		background: transparent;
	}

	to{
		background: var(--preto);
	}
}

@keyframes transparente{
	from{
		background: transparent;
	}

	to{
		background: var(--preto);
	}
}

/*-------------------------------*/

@-webkit-keyframes modal{
	from{
		-webkit-transform: scale(0.5);
	}

	to{
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes modal{
	from{
		-moz-transform: scale(0.5);
	}

	to{
		-moz-transform: scale(1);
	}
}

@-o-keyframes modal{
	from{
		-o-transform: scale(0.5);
	}

	to{
		-o-transform: scale(1);
	}
}

@keyframes modal{
	from{
		transform: scale(0.5);
	}

	to{
		transform: scale(1);
	}
}

/*-----------------------------*/

@media screen and (min-width: 640px){

	@-webkit-keyframes texto-div{
		from{
			top: -400px;
		}

		to{
			top: 0px;
		}
	}

		@-moz-keyframes texto-div{
		from{
			top: -400px;
		}

		to{
			top: 0px;
		}
	}

		@-o-keyframes texto-div{
		from{
			top: -400px;
		}

		to{
			top: 0px;
		}
	}

		@keyframes texto-div{
		from{
			top: -400px;
		}

		to{
			top: 0px;
		}
	}
	/*------------------------------*/
}

/*---------------------------------*/

@media screen and (min-width: 1024px){

	@-webkit-keyframes texto-home{
		from{
			left: -2000px;
		}

		to{
			left: 120px;
		}
	}

	@-moz-keyframes texto-home{
		from{
			left: -2000px;
		}

		to{
			left: 120px;
		}
	}

	@-o-keyframes texto-home{
		from{
			left: -2000px;
		}

		to{
			left: 120px;
		}
	}

	@keyframes texto-home{
		from{
			left: -2000px;
		}

		to{
			left: 120px;
		}
	}
}