@keyframes fade{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes imagem-slide{

	0%{
		top: -300px;
	}

	100%{
		top: 0px;
	}
}


@keyframes left-slide{
	from{
		left: -2000px;
	}

	to{
		left: 0px;
	}
}

@keyframes btn-start{
	from{
		background: var(--preto);
	}

	to{
		background: var(--color-1);
	}
}


@keyframes transparente{
	from{
		background: transparent;
	}

	to{
		background: var(--preto);
	}
}

@keyframes modal{
	from{
		transform: scale(0.5);
	}

	to{
		transform: scale(1);
	}
}



@media screen and (min-width: 640px){

	@keyframes texto-div{
		from{
			top: -400px;
		}

		to{
			top: 0px;
		}
	}
}

@media screen and (min-width: 1024px){

	@keyframes texto-home{
		from{
			left: -2000px;
		}

		to{
			left: 120px;
		}
	}
}