@media screen and (min-width: 1224px){

	header{
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-around;
		transition: 0.5s;
		height: unset;
		overflow-y: visible;
		animation: none;
	}

	.logo{
		padding: var(--metade-padding);
	}

	.logo img{
		width: 90px;
	}

	.logo div h1{
		font-size: var(--font-meio-termo);
	}

	.logo div span{
		font-size: var(--font-texto);
		letter-spacing: 5px;
	}

	.container-menu{
		display: none;
	}

	.container-menu-social-lingua{
		position: absolute;
		right: 40px;
		top: 15rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		opacity: 1;
		transition: 1s;
	}

	.container-midia h4{
		display: none;
	}

	.container-lingua{
		flex-direction: column;
		align-items: center;
		padding: 0;

		opacity: 0;

		animation: fade 2s;
		animation-delay: 3.5s;
		animation-fill-mode: forwards;
	}

	.midia-linguagem{
		margin: 0;
		width: 50px;
		height: 50px;
		border-bottom: none;	
		transition: 0.4s;
		background: var(--branco);
		margin-bottom: 10px;
		border-radius: 40px;
		padding: var(--metade-padding);
		display: block;
		cursor: pointer;
	}

	.container-lingua span span,
	.midia span{
		display: none;
	}

	.midia{
		width: 50px;
		height: 50px;
		padding: 0;
		display: flex;
		justify-content: center;
		background: var(--branco);
		border-radius: 40px;
		margin-bottom: 10px;
		border-bottom: none;	

	}

	.midia:hover,
	.midia-linguagem:hover{
		background: var(--color-1);
		transition: 0.4s;
	}

	.container-redes{
		flex-direction: column;
		align-items: center;


		opacity: 0;

		animation: fade 2s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
	}

	.overlay{
		z-index: 0;
		position: static !important	;
		top: 0;
		background: unset;
		flex-direction: row;
	}

	nav{
		padding: 0;
		margin: 0;
		opacity: 0;
		animation: fade 3s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}

	nav ul{
		margin-top: 0px;
		display: flex;
	}

	nav a{
		width: unset;
		margin: 0px;
		border-bottom: none;
		font-size: 1rem;
		color: var(--branco);
		font-weight: 700;
		transition: 0.4s;
		padding: 0.7rem;
		margin-left: 10px;
	}

	nav a:hover{
		background: var(--color-1);
		color: var(--preto);
		transition: 0.4s;
		border-radius: 12px;
	}

	.selected{
		color: var(--preto);
		border-radius: 5px;
	}

	.menu{
		position: static;
	}

	.menu p{
		display: none;
	}

	.content{
		width: 90%;
		margin: 0 auto;
	}

	.fundo-home{
		background-position: center right 40%;
	}

	.texto-home{
		bottom: 50px;
	}

	.texto-home p{
		bottom: 60px;
		width: 700px;
		font-size: 3.8rem;
		animation: texto-home 2s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}

	.start a{
		width: 200px;
		letter-spacing: 5px;
		transition: 0.5s;
		font-size: 1.4rem;
	}

	.start a:hover{
		box-shadow: 0px 3px 30px rgba(255,255,255,0.35);
		color: var(--branco);
		transition: 0.5s;
	}

	.white{
		background: var(--branco);
		transition: 0.3s;
		overflow: unset;
	}

	.white .logo{
		display: flex;
	}

	.white .logo h1,
	.white .logo span,
	.white nav a{
		color: var(--preto);
	}

	.white .container-menu-social-lingua{
		opacity: 0;
		transition: 0.3s;
	}

	.works{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: var(--padding-inteiro);
	}

	.works .clear{
		padding: 0;
	}

	.container-work{
		width: 380px;
		margin: 0;
		display: flex;
		margin-bottom: 30px;
		margin-right: 30px;
		flex-direction: column;
		align-items: center;
		padding: 0;
		justify-content: space-between;
	}

	.nomarginleft{
		margin-left: 0;
	}

	.texto-work{
		width: 100%;
	}
	
	.image-work{
		width: 100%;
	}

	.container-work p{
		width: 100%;
		font-size: var(--font-primary-title);
	}

	.container-autor{
		display: flex;
	}

	.texto-autor{
		width: 70%;
		justify-content: center;
		padding: var(--padding-inteiro);
	}

	.texto-autor p{
		width: 80%;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: var(--font-primary-title);
	}

	.speclist{
		width: 80%;
		align-items: center;
		background-image: linear-gradient(to top left, rgba(30, 216, 213,0.95) 50%, rgba(30, 216, 213,0.8) 50%);
	}

	.container-speclist{
		margin: 20px;
	}

	.container-two-divs{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.home-contact{
		border-radius: 5px;
		margin-bottom: 10px;
	}

	.home-contact h3{
		font-size: var(--font-secondary-title);
	}

	.home-contact p{
		font-size: var(--font-normal);
	}

	.formulario-php{
		width: 35%;
		margin: 0;
	}

	input[type="submit"]{
		padding: 0.8rem;
		font-size: var(--font-primary-title);
		cursor: pointer;
	}

	.motivation{
		margin-top: 10px;
		width: 40%;
		margin: 0;
	}

	.motivation h4{
		font-size: var(--font-secondary-title);
		margin-left: 10px;
	}

	.motivation p{
		font-size: var(--font-normal);
	}

	.motivation span{
		display: block;
		font-size: var(--font-normal);
		text-align: left;
		margin-top: 10px;
		margin-left: 10px;
	}

	.motivation img{
		filter: brightness(50%) grayscale(100%) contrast(120%);
		width: 200px;
	}

	footer{
		background: var(--preto);
	}

	.footer{
		background: unset;
		width: 92%;
		margin: 0 auto;
		padding: 2rem;
	}

	.footer p,
	.footer span{
		font-size: var(--font-normal); 	
	}
}
