@media screen and (min-width: 640px){

	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo h1{
		left: 0;
		top: -400px;

		-webkit-animation: texto-div 1s;
		-moz-animation: texto-div 1s;
		-o-animation: texto-div 1s;
		animation: texto-div 1s;

		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		-o-animation-delay: 1s;
		animation-delay: 1s;

		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}

	.logo img{
		width: 100px;
	}

	.logo div{
		margin-left: 10px;
	}

	.menu p{
		font-size: var(--font-meio-termo);
	}

	nav a,
	.midia-linguagem span,
	.midia span{
		font-size: var(--font-secondary-title);
	}

	.container-midia h4{
		font-size: var(--font-secondary-title);
	}

	.texto-home p{
		font-size: 2.8rem;
		width: 60%;
	}

	.fundo-home{
		background-size: unset;
	}

	.start{
		margin-top: 40px;
	}

	.start a{
		width: 30%;
	}

	.container-work{
		display: flex;
		flex-direction: row-reverse;
		padding: var(--metade-padding);
	}

	.image-work{
		width: 70%;
		margin: auto;
	}

	.image-work img{
		border-radius: 0;
	}

	.texto-work{
		width: 90%;
		margin: 0 auto;
	}

	.texto-work p{
		width: 80%;
	}

	.texto-work h2{
		font-size: var(--font-secondary-title);
	}

	.container-spec{
		flex-direction: column;
	}

	.text-spec span{
		color: rgba(0,0,0,0.7);
	}

	.star{
		width: 130px;
		padding: 5px;
		margin-top: 5px;
	}

	.star span{
		font-size: 0.7rem;
	}

	.texto-autor img{
		width: 200px;
		height: 200px;
	}

	.texto-autor h2{
		font-size: var(--font-meio-termo);
	}

	.texto-autor span{
		font-size: var(--font-normal);
	}

	.texto-autor p{
		font-size: var(--font-normal);
	}

	.speclist{
		display: flex;
	}

	.speclist .clear{
		display: none;
	}

	.container-speclist{
		width: 40%;
		margin: 0 auto;
	}

	.home-contact{
		width: 200px;
	}

	.home-contact h3,
	.home-contact p{
		margin-left: 10px;
	}	
	
	.two-input{
		width: 100%;
		display: flex;
	}

	.two-input .container-form{
		width: 100%;
	}

	.container2{
		width: 80% !important;
	}

	.motivation{
		width: 92%;
		border-radius: 4px;
		margin: 0 auto;
		flex-direction: row;
		justify-content: center;
	}

	.motivation p{
		text-align: left;
		width: 95%;
		padding: var(--metade-padding);
	}

	.motivation img{
		margin-top: 0;
		width: 170px;
	}

	.footer p{
		text-align: left;
	}
}