@media screen and (min-width: 640px){

	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo h1{
		left: 0;
		top: -400px;

		animation: texto-div 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}

	.logo img{
		width: 100px;
	}

	.logo div{
		margin-left: 10px;
	}

	.menu p{
		font-size: var(--font-meio-termo);
	}

	nav a,
	.midia-linguagem span,
	.midia span{
		font-size: var(--font-secondary-title);
	}

	.container-midia h4{
		font-size: var(--font-secondary-title);
	}

	.texto-home p{
		font-size: 2.8rem;
		width: 60%;
	}

	.fundo-home{
		background-size: unset;
	}

	.start{
		margin-top: 40px;
	}

	.start a{
		width: 30%;
	}
}